[Unit]
Description=Odoo15
Requires=postgresql.service
After=network.target postgresql.service

[Service]
Type=simple
SyslogIdentifier=odoo15
PermissionsStartOnly=true
User=odoo15
Group=odoo-dev
ExecStart=/opt/anaconda3/envs/odoo-dev/bin/python /opt/odoo/odoo-dev/15.0/odoo/odoo-bin -c /opt/odoo/odoo-dev/15.0/conf/odoo15-ubuntu.conf
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
